---
import "../styles/global.css";
import { formatHex } from "culori";
import { getContrastingColor } from "../utils/colorUtils";

type Props = {
  hexColor: string;
  step: string;
};

const { hexColor, step } = Astro.props;
const formattedHex: string = formatHex(hexColor) ?? "#000000";
const contrastingColor = getContrastingColor(formattedHex);
---

<div
  data-clipboard-text={formattedHex}
  class="relative flex flex-col justify-center border-[0.5px] hover:border-gray-200 md:py-4 p-2 border-transparent rounded-xl w-full h-14 md:h-24 transition-all cursor-pointer"
  style={`background-color: ${formattedHex};`}
>
  <div
    class="md:block flex justify-between items-center md:mt-auto px-4 md:px-0 cursor-pointer"
  >
    <div style={`color: ${contrastingColor};`}>
      <div class="font-medium text-center text-sm">{step}</div>
      <div class="opacity-90 text-center text-xs uppercase">
        {formattedHex}
      </div>
    </div>
  </div>
</div>

<script>
  import { toast } from "sonner";

  function copyToClipboard(hex: string) {
    navigator.clipboard.writeText(hex);
    toast.success(`${hex} copied to clipboard`);
  }

  document.addEventListener("DOMContentLoaded", () => {
    const colorItems = document.querySelectorAll("[data-clipboard-text]");
    colorItems.forEach((item) => {
      item.addEventListener("click", () => {
        const formattedHex = item.getAttribute("data-clipboard-text");
        copyToClipboard(formattedHex?.toUpperCase() ?? "");
      });
    });
  });
</script>
